.menu1 {
  display: none;
  z-index: 100;
  position: absolute;
  top: 75px;
  right: 0px;
  width: 960px;
  background: #fff;
  padding: 30px 50px; }
  .menu1 h5 {
    border-bottom: 2px solid #000;
    font-size: 1em;
    padding-bottom: 5px;
    width: 60px;
    white-space: nowrap; }
  .menu1 a {
    font-size: 0.75em;
    color: #757575; }
  @media (max-width: 1199.98px) {
    .menu1 {
      width: 100%;
      overflow: scroll; }
      .menu1 .col-lg-3 {
        margin-top: 1rem; } }

.menu2 {
  width: 750px;
  background: #eee;
  margin-top: 30px; }

.shoppingCart {
  opacity: 1 !important;
  display: none;
  position: absolute;
  top: 72.8px;
  right: 0;
  z-index: 100;
  width: 350px;
  padding: 20px;
  background: #fff;
  color: #878787;
  font-weight: 600; }
  .shoppingCart p {
    margin: 0;
    font-size: 0.85em; }
  .shoppingCart .price {
    color: #000; }
  .shoppingCart .delete {
    color: red;
    font-weight: 800; }
  .shoppingCart .delete:hover {
    cursor: pointer; }
  .shoppingCart .btn {
    padding: 5px 30px;
    border-radius: 20px; }
  @media (max-width: 350px) {
    .shoppingCart {
      width: 100%;
      overflow: auto; } }

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.5;
  display: none; }

.menu1 {
  display: none;
  z-index: 100;
  position: absolute;
  top: 75px;
  right: 0px;
  width: 960px;
  background: #fff;
  padding: 30px 50px; }
  .menu1 h5 {
    border-bottom: 2px solid #000;
    font-size: 1em;
    padding-bottom: 5px;
    width: 60px;
    white-space: nowrap; }
  .menu1 a {
    font-size: 0.75em;
    color: #757575; }
  @media (max-width: 1199.98px) {
    .menu1 {
      width: 100%;
      overflow: scroll; }
      .menu1 .col-lg-3 {
        margin-top: 1rem; } }

.menu2 {
  width: 750px;
  background: #eee;
  margin-top: 30px; }

.searchPage {
  display: none;
  background: #f6f6f6;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20px;
  position: fixed;
  z-index: 200; }
  .searchPage input {
    width: 500px;
    background: none;
    border: none;
    border-left: 1px solid #000;
    font-size: 1.5em;
    padding: 10px 0px 10px 10px; }
  .searchPage input:focus {
    outline: none; }
  .searchPage a {
    color: #9d9d9d;
    font-size: 1.5em; }
  .searchPage .cancel {
    margin-top: 240px; }
  @media (max-width: 600px) {
    .searchPage {
      text-align: center;
      margin: 0 auto; } }
  @media (max-width: 400px) {
    .searchPage input {
      width: 200px;
      font-size: 1.25em; } }

.banner h2 {
  color: #494949;
  font-size: 2.5em;
  font-weight: 700; }

.banner .breadcrumb {
  background: #f4f4f4;
  padding: 0; }
  .banner .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: ">"; }
  .banner .breadcrumb a {
    color: #b6b6b6; }

.banner .search a {
  color: #c2c2c2;
  font-size: 0.75em; }

.banner .cartbreadcrumb li {
  font-size: 0.85em; }

nav a {
  color: #333; }

nav .nav-item {
  line-height: 40px;
  margin-right: 15px; }

nav .fa-shopping-bag {
  line-height: 40px;
  margin-right: 10px; }

nav .shoppingcart span {
  line-height: 16px;
  margin-left: 7px; }

#header {
  background: #f4f4f4; }
  #header .navbar-light .navbar-nav .nav-link {
    color: #313131; }
  #header .navbar-light .navbar-nav .nav-link:hover {
    color: #aaa; }
  #header .navbar {
    padding: .5rem 0;
    background: #fff;
    padding-left: 2%; }
  #header .contactHeader {
    color: #696969;
    font-size: 0.9em;
    padding: 5px 0; }
    #header .contactHeader a {
      color: #696969;
      font-size: 0.9em;
      padding: 0px 10px; }
    #header .contactHeader .borderRight {
      border-right: 1px solid #696969; }
  @media (max-width: 1024px) {
    #header .tel {
      display: none; } }
  @media (max-width: 767.9px) {
    #header .contactHeader {
      font-size: 0.5em; } }

#content .fa-star {
  color: #e6c376;
  font-size: 0.5em;
  margin-bottom: 10px; }

#content .banner {
  background: #f4f4f4; }
  #content .banner .product-pic .img {
    width: 88%; }
  #content .banner .product-pic p {
    color: #b6b6b6; }
  #content .banner .product-pic .owl-dots {
    display: none; }
  #content .banner .product-detail nav {
    font-size: 0.85em;
    font-weight: 600; }
    #content .banner .product-detail nav li {
      color: #b6b6b6; }
    #content .banner .product-detail nav .breadcrumb-item::before {
      color: #b6b6b6; }
  #content .banner .product-detail h3 {
    color: #212121;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: .25em; }
  #content .banner .product-detail p {
    font-size: 0.75em;
    color: #b6b6b6;
    font-weight: 600; }
  #content .banner .product-detail .artical p {
    font-weight: normal;
    font-size: 1em; }
  #content .banner .product-detail .prize {
    font-size: 2em;
    color: #212121; }
    #content .banner .product-detail .prize span {
      color: #b6b6b6;
      font-size: .75em; }
  #content .banner .product-detail select {
    border-radius: 10px;
    color: #a6a6a6;
    font-weight: 600; }
  #content .banner .product-detail .btn-danger {
    border-radius: 50px; }

#content .sidebar h3 {
  color: #494949;
  font-size: 1.5em;
  letter-spacing: .5px;
  font-weight: 700; }

#content .sidebar p {
  color: #9c9c9c; }

#content .sidebar .filter {
  background: #f4f4f4;
  padding: 40px 5%; }
  #content .sidebar .filter p {
    font-size: 0.75em;
    font-weight: 600; }
  #content .sidebar .filter .form {
    color: #9c9c9c;
    font-size: 0.75em; }
    #content .sidebar .filter .form .form-check {
      margin-top: 5px; }
  #content .sidebar .filter .slider .ui-widget-content {
    background: #b3b3b3; }
  #content .sidebar .filter .slider .ui-widget-header {
    background: #494949; }
  #content .sidebar .filter .slider .ui-slider-horizontal {
    height: 0.3em; }
  #content .sidebar .filter .slider .ui-state-default,
  #content .sidebar .filter .slider .ui-widget-content .ui-state-default {
    border: 3px solid #494949;
    border-radius: 10px; }
  #content .sidebar .filter .slider .ui-state-default,
  #content .sidebar .filter .slider .ui-widget-content .ui-state-default {
    width: 0.8em;
    height: 0.8em; }
  #content .sidebar .filter .slider input {
    background: none;
    width: 60%; }
  #content .sidebar .filter .slider .btn {
    letter-spacing: .5px;
    padding: 0 10px;
    font-size: 0.85em;
    line-height: 20px;
    height: 20px; }

#content .sidebar .category li {
  padding-left: 0; }

#content .sidebar .category a {
  color: #9c9c9c;
  font-weight: 600; }

#content .sidebar .hot .col-3 {
  padding-right: 0; }

#content .sidebar .hot p {
  font-size: .75em;
  font-weight: 600;
  margin-bottom: 0;
  line-height: .75em; }

#content .sidebar .hot .lh {
  line-height: 1.25em; }

#content .sidebar .hot .prize {
  color: #252528;
  font-size: 1.05em; }

#content .content .title p {
  font-size: 0.75em;
  color: #a5a5a5;
  margin-bottom: 0; }

#content .content .title a {
  font-size: 0.75em;
  line-height: 35.2px;
  text-decoration: none;
  color: #a5a5a5;
  border: 1px solid #a5a5a5;
  padding: 0 11.6px;
  border-radius: 20px; }

#content .content .title a:hover {
  color: #fff;
  background: #a5a5a5; }

@media (max-width: 576px) {
  #content .content .title p {
    font-size: 0.5em; }
  #content .content .title a {
    font-size: .5em; } }

#content .content .product {
  line-height: .5em; }
  #content .content .product p {
    margin-bottom: 0;
    line-height: 1.5em; }
  #content .content .product .fa-star {
    margin-bottom: 3px; }

#content .content .page-link {
  background: #f6f6f6;
  color: #9a9a9a;
  padding: 0.3rem 0.65rem;
  border: none; }

#content .content .page-link:hover {
  background: #9a9a9a;
  color: #f6f6f6; }

#content .describe .nav {
  border-bottom: 1px solid #b6b6b6; }
  #content .describe .nav a {
    color: #b6b6b6;
    font-weight: 700;
    padding: 10px 0px;
    margin: 0px 20px; }
  #content .describe .nav .active {
    color: #000;
    border-bottom: 3px solid #000; }
  @media (max-width: 576px) {
    #content .describe .nav a {
      margin: 0 8px;
      font-size: .75em; } }

#content .describe p {
  font-size: .9em;
  color: #8d8c8c;
  line-height: 1.75em; }

#content section:nth-child(1) .steps {
  color: #9f9f9f; }
  #content section:nth-child(1) .steps .step {
    display: inline-block;
    padding: 20px 23.5px;
    border: 2px solid #9f9f9f;
    border-radius: 50px;
    font-weight: 800;
    font-size: 1.5em; }

#content section:nth-child(1) .active {
  color: #000; }
  #content section:nth-child(1) .active .step {
    border: 2px solid #000; }

#content section:nth-child(1) .line {
  display: inline-block;
  width: 100px;
  border: .5px solid #9f9f9f; }

@media (max-width: 767.98px) {
  #content section:nth-child(1) .line {
    width: 25px; }
  #content section:nth-child(1) .steps .step {
    padding: 11.5px 15px;
    font-size: 1em; }
  #content section:nth-child(1) .steps p {
    font-size: 0.5em; } }

#content section:nth-child(2) .shoppingList {
  color: #808080;
  font-weight: 600; }
  #content section:nth-child(2) .shoppingList .listTitle .product {
    margin-right: 50%; }
  #content section:nth-child(2) .shoppingList .listTitle .shoppingItem {
    margin-right: 80px; }
  #content section:nth-child(2) .shoppingList .listItem .shoppingItem {
    display: inline-block;
    margin-right: 80px; }
  #content section:nth-child(2) .shoppingList .listItem .productName {
    margin-right: 258.09px; }
  #content section:nth-child(2) .shoppingList .listItem .delete {
    font-weight: 800;
    color: red; }
  #content section:nth-child(2) .shoppingList .listItem .number {
    background: #eee;
    border: none;
    padding: 5px 10px; }
  #content section:nth-child(2) .shoppingList .listItem .price {
    color: #000; }
  @media (max-width: 991.98px) {
    #content section:nth-child(2) .shoppingList .listTitle {
      display: none; }
    #content section:nth-child(2) .shoppingList .listItem .productName {
      margin-right: 0; }
    #content section:nth-child(2) .shoppingList .listItem .delete {
      margin-left: 30%; } }
  @media (max-width: 575.98px) {
    #content section:nth-child(2) .shoppingList .listItem {
      font-size: .85em; }
      #content section:nth-child(2) .shoppingList .listItem .productName {
        font-size: .85em; }
      #content section:nth-child(2) .shoppingList .listItem .delete {
        margin-left: 5%; } }

#content section:nth-child(2) .form {
  border-bottom: 1px solid #dee2e6;
  margin-top: 41.5px;
  padding-bottom: 41.5px; }
  #content section:nth-child(2) .form button {
    background: #cba233;
    color: #fff;
    border-radius: 0;
    font-weight: 600;
    letter-spacing: .05em;
    padding: 8px 20px; }
  #content section:nth-child(2) .form input {
    padding-left: 15px;
    border: 1px solid #dee2e6;
    width: 200px; }
    @media (max-width: 767.98px) {
      #content section:nth-child(2) .form input {
        width: 100%; } }

#content section:nth-child(2) h3 {
  font-size: 1.15em;
  margin-bottom: 30px; }

#content section:nth-child(2) form {
  color: #808080; }
  #content section:nth-child(2) form input,
  #content section:nth-child(2) form select,
  #content section:nth-child(2) form .form-check,
  #content section:nth-child(2) form textarea {
    font-size: 0.85em;
    padding: 10px 15px; }
  #content section:nth-child(2) form textarea {
    width: 100%;
    border: 1px solid #dee2e6; }

#content section:nth-child(2) .order {
  background: #f6f6f6;
  padding: 30px 50px;
  margin-top: 54px; }
  #content section:nth-child(2) .order .list-group-item {
    background: none;
    padding-left: 0;
    padding-right: 0; }
    #content section:nth-child(2) .order .list-group-item p,
    #content section:nth-child(2) .order .list-group-item label {
      margin-bottom: 0;
      color: #707070;
      font-size: 0.85em;
      font-weight: 600; }
    #content section:nth-child(2) .order .list-group-item p.small {
      color: #aaa;
      font-size: 0.75em; }
    #content section:nth-child(2) .order .list-group-item .price {
      color: #000; }
    @media (max-width: 575.98px) {
      #content section:nth-child(2) .order .list-group-item .price {
        font-size: 0.75em; }
      #content section:nth-child(2) .order .list-group-item p.small {
        font-size: 0.5em; } }
  #content section:nth-child(2) .order .orderList {
    margin-bottom: 50px; }

#content section:nth-child(2) .terms {
  margin: 30px 50px; }
  @media (max-width: 575.98px) {
    #content section:nth-child(2) .terms {
      margin: 30px 10px; }
      #content section:nth-child(2) .terms label {
        font-size: 0.85em; } }

#content section:nth-child(2) .btn-success {
  background: #88bd6e;
  font-weight: 600;
  border: none; }

#content section:nth-child(3) select {
  width: 80%; }

#content section:nth-child(3) .btn {
  background: #f6f6f6;
  color: #a3a3a3;
  border: 1px solid #d3d3d3; }

#content section:nth-child(3) .btn-success {
  background: #88bd6e;
  color: #fff;
  font-weight: 600;
  border: none; }

#content section:nth-child(3) .total {
  border: 1px solid #d3d3d3;
  padding: 15px;
  color: #808080; }
  #content section:nth-child(3) .total .list-group-item {
    padding: 8px 0; }
  #content section:nth-child(3) .total .prize {
    font-weight: 800;
    color: #000; }

#content section:nth-child(3) .rightLine {
  border-right: 1px solid #e4e4e4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 992px) {
    #content section:nth-child(3) .rightLine {
      border-right: none; } }

#footer section:nth-child(1) {
  background: #f6f6f6; }
  #footer section:nth-child(1) .info {
    color: #a0a0a0; }
  #footer section:nth-child(1) h5 {
    font-size: 1em;
    color: #575757;
    margin-bottom: 30px; }
  #footer section:nth-child(1) li,
  #footer section:nth-child(1) small {
    font-size: 0.8em;
    color: #868686;
    margin-bottom: 15px; }
  #footer section:nth-child(1) .form-control {
    border-radius: 20px 0px 0px 20px;
    font-size: 0.8em;
    background: none;
    border: 1px solid #575757;
    border-right: none; }
  #footer section:nth-child(1) .btn-outline-secondary {
    color: #696969;
    background-color: none;
    background-image: none;
    border: 1px solid #575757;
    border-left: none;
    border-radius: 0 20px 20px 0; }
  #footer section:nth-child(1) .btn {
    font-size: .8em; }
  #footer section:nth-child(1) .btn:hover {
    color: #fff; }
  #footer section:nth-child(1) .subscribe {
    background: #696969;
    color: #fff; }
  #footer section:nth-child(1) .whiteBTN {
    background: #ffffff;
    border: 1px solid #ced4da;
    border-left: 0px solid #000;
    color: #696969; }
  #footer section:nth-child(1) .follow {
    font-size: 1.15em;
    font-weight: 600; }
  #footer section:nth-child(1) .social-media a {
    font-size: 1.05em;
    color: #575757; }
  #footer section:nth-child(1) input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    line-height: 38px;
    font-weight: 600; }
  #footer section:nth-child(1) input::-moz-placeholder {
    /* Firefox 19+ */
    line-height: 38px;
    font-weight: 600; }
  #footer section:nth-child(1) input:-ms-input-placeholder {
    /* IE 10+ */
    line-height: 38px;
    font-weight: 600; }
  #footer section:nth-child(1) input:-moz-placeholder {
    /* Firefox 18- */
    line-height: 38px;
    font-weight: 600; }
  @media (max-width: 991.98px) {
    #footer section:nth-child(1) .col-lg-3 {
      margin-top: 30px; } }

@media (max-width: 767.98px) {
  #footer span {
    white-space: nowrap; } }
