.menu1{
    display: none;
    z-index: 100;
    position: absolute;
    top: 75px;
    width: 960px;
    background: #fff;
    padding: 30px 50px;
    h5{
        border-bottom: 2px solid #000;
        font-size: 1em;
        padding-bottom: 5px;
        width: 60px;
        white-space: nowrap;
    }
    a{
        font-size: 0.75em;
        color: #757575;
    }
    @media (max-width: 1199.98px) {
        width: 100%;
        overflow: scroll;
        .col-lg-3{
            margin-top: 1rem;
        }
    }

}

.menu2{
    width: 750px;
    background: #eee;
    margin-top: 30px;
}