@import 'menu';
@import 'shoppingCartCss';
@import 'search';
.banner {
    h2 {
        color: #494949;
        font-size: 2.5em;
        font-weight: 700;
    }
    .breadcrumb {
        background: #f4f4f4;
        padding: 0;
        .breadcrumb-item+.breadcrumb-item::before {
            content: ">";
        }
        a {
            color: #b6b6b6;
        }
    }
    .search {
        a {
            color: #c2c2c2;
            font-size: 0.75em;
        }
    }
    .cartbreadcrumb {
        li {
            font-size: 0.85em;
        }
    }
}

nav {
    a {
        color: #333;
    }
    .nav-item {
        line-height: 40px;
        margin-right: 15px;
    }
    .fa-shopping-bag {
        line-height: 40px;
        margin-right: 10px;
    }
    .shoppingcart {
        span {
            line-height: 16px;
            margin-left: 7px;
        }
    }
}

#header {
    background: #f4f4f4;
    .navbar-light .navbar-nav .nav-link {
        color: #313131;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: #aaa;
    }
    .navbar {
        padding: .5rem 0;
        background: #fff;
        padding-left: 2%;
    }
    .contactHeader {
        color: #696969;
        font-size: 0.9em;
        padding: 5px 0;
        a {
            color: #696969;
            font-size: 0.9em;
            padding: 0px 10px;
        }
        .borderRight {
            border-right: 1px solid #696969;
        }
    }
    @media (max-width: 1024px) {
        .tel {
            display: none;
        }
    }
    @media (max-width: 767.9px) {
        .contactHeader {
            font-size: 0.5em;
        }
    }
}

#content {
    .fa-star {
        color: #e6c376;
        font-size: 0.5em;
        margin-bottom: 10px;
    }
    .banner {
        background: #f4f4f4;
        .product-pic {
            .img {
                width: 88%;
            }
            p {
                color: #b6b6b6;
            }
            .owl-carousel {
                position: relative;
                .owl-dots {
                    display: none;
                }
                .owl-nav {
                    position: relative;
                    margin: 0;
                    .owl-prev {
                        position: absolute;
                        left: -1px;
                    }
                    .owl-next {
                        position: absolute;
                        right: -1px;
                    }
                    .owl-prev,.owl-next{
                        z-index: 20;
                        margin: 0;
                        background: #fff;
                        width: 24px;
                        height: 84.96px;
                        border-radius: none;
                    }
                    .owl-prev:hover,.owl-next:hover{
                        color: #000
                    }
                    .owl-prev:focus,.owl-next:focus{
                        outline: none;
                    }
                }
            }
        }
        .product-detail {
            nav {
                font-size: 0.85em;
                font-weight: 600;
                li {
                    color: #b6b6b6;
                }
                .breadcrumb-item::before {
                    color: #b6b6b6;
                }
            }
            h3 {
                color: #212121;
                font-size: 2em;
                font-weight: 400;
                letter-spacing: .25em;
            }
            p {
                font-size: 0.75em;
                color: #b6b6b6;
                font-weight: 600;
            }
            .artical {
                p {
                    font-weight: normal;
                    font-size: 1em;
                }
            }
            .prize {
                font-size: 2em;
                color: #212121;
                span {
                    color: #b6b6b6;
                    font-size: .75em;
                }
            }
            select {
                border-radius: 10px;
                color: #a6a6a6;
                font-weight: 600;
            }
            .btn-danger {
                border-radius: 50px;
            }
        }
    }
    .sidebar {
        h3 {
            color: #494949;
            font-size: 1.5em;
            letter-spacing: .5px;
            font-weight: 700;
        }
        p {
            color: #9c9c9c;
        }
        .filter {
            background: #f4f4f4;
            padding: 40px 5%;
            p {
                font-size: 0.75em;
                font-weight: 600;
            }
            .form {
                color: #9c9c9c;
                font-size: 0.75em;
                .form-check {
                    margin-top: 5px;
                }
            }
            .slider {
                .ui-widget-content {
                    background: #b3b3b3;
                }
                .ui-widget-header {
                    background: #494949;
                }
                .ui-slider-horizontal {
                    height: 0.3em;
                }
                .ui-state-default,
                .ui-widget-content .ui-state-default {
                    border: 3px solid #494949;
                    border-radius: 10px;
                }
                .ui-state-default,
                .ui-widget-content .ui-state-default {
                    width: 0.8em;
                    height: 0.8em;
                }
                input {
                    background: none;
                    width: 60%;
                }
                .btn {
                    letter-spacing: .5px;
                    padding: 0 10px;
                    font-size: 0.85em;
                    line-height: 20px;
                    height: 20px;
                }
            }
        }
        .category {
            li {
                padding-left: 0;
            }
            a {
                color: #9c9c9c;
                font-weight: 600;
            }
        }
        .hot {
            .col-3 {
                padding-right: 0;
            }
            p {
                font-size: .75em;
                font-weight: 600;
                margin-bottom: 0;
                line-height: .75em;
            }
            .lh {
                line-height: 1.25em;
            }
            .prize {
                color: #252528;
                font-size: 1.05em;
            }
        }
    }
    .content {
        .title {
            p {
                font-size: 0.75em;
                color: #a5a5a5;
                margin-bottom: 0;
            }
            a {
                font-size: 0.75em;
                line-height: 35.2px;
                text-decoration: none;
                color: #a5a5a5;
                border: 1px solid #a5a5a5;
                padding: 0 11.6px;
                border-radius: 20px;
            }
            a:hover {
                color: #fff;
                background: #a5a5a5;
            }
            @media (max-width: 767.98px) {
                .sort {
                    display: none;
                }
            }
            @media (max-width: 576px) {
                p {
                    font-size: 0.5em;
                }
                a {
                    font-size: .5em;
                }
            }
        }
        .products {
            line-height: .5em;
            a {
                color: #000;
            }
            a:hover {
                text-decoration: none;
            }
            p {
                margin-bottom: 0;
                line-height: 1.5em;
            }
            .fa-star {
                margin-bottom: 3px;
            }
        }
        .page-link {
            background: #f6f6f6;
            color: #9a9a9a;
            padding: 0.3rem 0.65rem;
            border: none;
        }
        .page-link:hover {
            background: #9a9a9a;
            color: #f6f6f6;
        }
    }
    .panel {
        .nav {
            border-bottom: 1px solid #b6b6b6;
            a {
                color: #b6b6b6;
                font-weight: 700;
                padding: 10px 0px;
                margin: 0px 20px;
            }
            .active {
                color: #000;
                border-bottom: 3px solid #000;
            }
            @media (max-width: 576px) {
                a {
                    margin: 0 8px;
                    font-size: .75em;
                }
            }
        }
        .nav-link {
            border: none;
        }
        p {
            font-size: .9em;
            color: #8d8c8c;
            line-height: 1.75em;
        }
    }
    .related {
        a {
            color: #000;
        }
        a:hover {
            text-decoration: none;
        }
    }
    section:nth-child(1) {
        .steps {
            color: #9f9f9f;
            .step {
                display: inline-block;
                padding: 20px 23.5px;
                border: 2px solid #9f9f9f;
                border-radius: 50px;
                font-weight: 800;
                font-size: 1.5em;
            }
        }
        .active {
            color: #000;
            .step {
                border: 2px solid #000;
            }
        }
        .line {
            display: inline-block;
            width: 100px;
            border: .5px solid #9f9f9f;
        }
        @media (max-width: 767.98px) {
            .line {
                width: 25px;
            }
            .steps {
                .step {
                    padding: 11.5px 15px;
                    font-size: 1em;
                }
                p {
                    font-size: 0.5em;
                }
            }
        }
    }
    section:nth-child(2) {
        .shoppingList {
            color: #808080;
            font-weight: 600;
            .listTitle {
                .products {
                    margin-right: 50%;
                }
                .shoppingItem {
                    margin-right: 80px;
                }
            }
            .listItem {
                .shoppingItem {
                    display: inline-block;
                    margin-right: 80px;
                }
                .productName {
                    margin-right: 258.09px;
                }
                .delete {
                    font-weight: 800;
                    color: red;
                }
                .number {
                    background: #eee;
                    border: none;
                    padding: 5px 10px;
                }
                .price {
                    color: #000;
                }
            }
            @media (max-width: 991.98px) {
                .listTitle {
                    display: none;
                }
                .listItem {
                    .productName {
                        margin-right: 0;
                    }
                    .delete {
                        margin-left: 30%;
                    }
                }
            }
            @media (max-width: 575.98px) {
                .listItem {
                    font-size: .85em;
                    .productName {
                        font-size: .85em;
                    }
                    .delete {
                        margin-left: 5%;
                    }
                }
            }
        }
        .form {
            border-bottom: 1px solid #dee2e6;
            margin-top: 41.5px;
            padding-bottom: 41.5px;
            button {
                background: #cba233;
                color: #fff;
                border-radius: 0;
                font-weight: 600;
                letter-spacing: .05em;
                padding: 8px 20px;
            }
            input {
                padding-left: 15px;
                border: 1px solid #dee2e6;
                width: 200px;
                @media (max-width: 767.98px) {
                    width: 100%;
                }
            }
        }
        h3 {
            font-size: 1.15em;
            margin-bottom: 30px;
        }
        form {
            color: #808080;
            input,
            select,
            .form-check,
            textarea {
                font-size: 0.85em;
                padding: 10px 15px;
            }
            textarea {
                width: 100%;
                border: 1px solid #dee2e6;
            }
        }
        .order {
            background: #f6f6f6;
            padding: 30px 50px;
            margin-top: 54px;
            .list-group-item {
                background: none;
                padding-left: 0;
                padding-right: 0;
                p,
                label {
                    margin-bottom: 0;
                    color: #707070;
                    font-size: 0.85em;
                    font-weight: 600;
                }
                p.small {
                    color: #aaa;
                    font-size: 0.75em;
                }
                .price {
                    color: #000;
                }
                @media (max-width: 575.98px) {
                    .price {
                        font-size: 0.75em;
                    }
                    p.small {
                        font-size: 0.5em;
                    }
                }
            }
            .orderList {
                margin-bottom: 50px;
            }
        }
        .terms {
            margin: 30px 50px;
            @media (max-width: 575.98px) {
                margin: 30px 10px;
                label {
                    font-size: 0.85em;
                }
            }
        }
        .btn-success {
            background: #88bd6e;
            font-weight: 600;
            border: none;
        }
    }
    section:nth-child(3) {
        select {
            width: 80%;
        }
        .btn {
            background: #f6f6f6;
            color: #a3a3a3;
            border: 1px solid #d3d3d3;
        }
        .btn-success {
            background: #88bd6e;
            color: #fff;
            font-weight: 600;
            border: none;
        }
        .total {
            border: 1px solid #d3d3d3;
            padding: 15px;
            color: #808080;
            .list-group-item {
                padding: 8px 0;
            }
            .prize {
                font-weight: 800;
                color: #000;
            }
        }
        .rightLine {
            border-right: 1px solid #e4e4e4;
            box-sizing: border-box;
            @media (max-width: 992px) {
                border-right: none;
            }
        }
    }
}

#footer {
    section:nth-child(1) {
        background: #f6f6f6;
        .info {
            color: #a0a0a0;
        }
        h5 {
            font-size: 1em;
            color: #575757;
            margin-bottom: 30px;
        }
        li,
        small {
            font-size: 0.8em;
            color: #868686;
            margin-bottom: 15px;
        }
        .form-control {
            border-radius: 20px 0px 0px 20px;
            font-size: 0.8em;
            background: none;
            border: 1px solid #575757;
            border-right: none;
        }
        .btn-outline-secondary {
            color: #696969;
            background-color: none;
            background-image: none;
            border: 1px solid #575757;
            border-left: none;
            border-radius: 0 20px 20px 0;
        }
        .btn {
            font-size: .8em;
        }
        .btn:hover {
            color: #fff;
        }
        .subscribe {
            background: #696969;
            color: #fff;
        }
        .whiteBTN {
            background: #ffffff;
            border: 1px solid #ced4da;
            border-left: 0px solid #000;
            color: #696969;
        }
        .follow {
            font-size: 1.15em;
            font-weight: 600;
        }
        .social-media {
            a {
                font-size: 1.05em;
                color: #575757;
            }
        }
        input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            line-height: 38px;
            font-weight: 600;
        }
        input::-moz-placeholder {
            /* Firefox 19+ */
            line-height: 38px;
            font-weight: 600;
        }
        input:-ms-input-placeholder {
            /* IE 10+ */
            line-height: 38px;
            font-weight: 600;
        }
        input:-moz-placeholder {
            /* Firefox 18- */
            line-height: 38px;
            font-weight: 600;
        }
        .col-lg-3 {
            @media (max-width: 991.98px) {
                margin-top: 30px;
            }
        }
    }
    @media(max-width: 767.98px) {
        span {
            white-space: nowrap;
        }
    }
}