#header {
    .navbar-light .navbar-nav .nav-link {
        color: #313131;
        margin-right: 6px;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: #aaa;
    }
    .navbar {
        padding: .5rem 0;
    }
    nav {
        a {
            color: #333;
        }
        .nav-item {
            line-height: 40px;
            margin-right: 15px;
        }
        .fa-shopping-bag {
            line-height: 40px;
            margin-right: 10px;
        }
        .shoppingcart {
            span {
                line-height: 16px;
                margin-left: 7px;
            }
        }
    }
}

#content {
    .fa-star {
        color: #e6c376;
        font-size: 0.5em;
        margin-bottom: 10px;
    }
    .banner {
        background: #f4f4f4;
        h2 {
            color: #494949;
            font-size: 2.5em;
            font-weight: 700;
        }
        .breadcrumb {
            background: #f4f4f4;
            padding: 0;
            .breadcrumb-item+.breadcrumb-item::before {
                content: ">";
            }
            a {
                color: #b6b6b6;
            }
        }
        .search {
            a {
                color: #c2c2c2;
                font-size: 0.75em;
            }
        }
        .product-pic{
            .img{
                width: 88%;
            }
            p{
                color: #b6b6b6;
            }
            .owl-dots{
                display: none;
            }
        }
        .product-detail{
            nav{
                font-size: 0.85em;
                font-weight: 600;
                li{
                    color: #b6b6b6;
                }
                .breadcrumb-item::before{
                    color: #b6b6b6;
                }
            }
            h3{
                color: #212121;
                font-size: 2em;
                font-weight: 400;
                letter-spacing: .25em;
            }
            p{
                font-size: 0.75em;
                color: #b6b6b6;
                font-weight: 600;
            }
            .artical{
                p{
                    font-weight: normal;
                    font-size: 1em;
                }
            }
            .prize{
                font-size: 2em;
                color: #212121;
                span{
                    color: #b6b6b6;
                    font-size: .75em;
                }
            }
        }
    }
    .sidebar {
        h3 {
            color: #494949;
            font-size: 1.5em;
            letter-spacing: .5px;
            font-weight: 700;
        }
        p {
            color: #9c9c9c;
        }
        .filter {
            background: #f4f4f4;
            padding: 40px 5%;
            p {
                font-size: 0.75em;
                font-weight: 600;
            }
            .form {
                color: #9c9c9c;
                font-size: 0.75em;
                .form-check {
                    margin-top: 5px;
                }
            }
            .slider {
                .ui-widget-content {
                    background: #b3b3b3;
                }
                .ui-widget-header {
                    background: #494949;
                }
                .ui-slider-horizontal {
                    height: 0.3em;
                }
                .ui-state-default,
                .ui-widget-content .ui-state-default {
                    border: 3px solid #494949;
                    border-radius: 10px;
                }
                .ui-state-default,
                .ui-widget-content .ui-state-default {
                    width: 0.8em;
                    height: 0.8em;
                }
                input {
                    background: none;
                    width: 60%;
                }
                .btn {
                    letter-spacing: .5px;
                    padding: 0 10px;
                    font-size: 0.85em;
                    line-height: 20px;
                    height: 20px;
                }
            }
        }
        .category{
            li{
                padding-left: 0;
            }
            a{
                color: #9c9c9c;
                font-weight: 600;
            }
        }
        .hot{
            .col-3{
                padding-right: 0;
            }
            p{
                font-size: .75em;
                font-weight: 600;
                margin-bottom: 0;
                line-height: .75em;
                
            }
            .lh{
                line-height: 1.25em;
            }
            .prize{
                color: #252528;
                font-size: 1.05em;
            }
        }
    }
    .content{
        .title{
            p{
                font-size: 0.75em;
                color: #a5a5a5;
                margin-bottom: 0;
            }
            a{
                font-size: 0.75em;
                line-height: 35.2px;
                text-decoration: none;
                color: #a5a5a5;
                border: 1px solid #a5a5a5;
                padding: 0 11.6px;
                border-radius: 20px;
            }
            a:hover{
                color: #fff;
                background: #a5a5a5;
            }
        }
        .product{
            line-height:.5em;
            p{
                margin-bottom: 0;
                line-height: 1.5em;
            }
            .fa-star{
                margin-bottom: 3px;
            }
        }
        .page-link{
            background: #f6f6f6;
            color: #9a9a9a;
            padding: 0.3rem 0.65rem;
            border: none;
        }
        .page-link:hover{
            background: #9a9a9a;
            color: #f6f6f6;
        }

    }
    .describe{
        .nav{
            border-bottom: 1px solid #b6b6b6;
            a{
                color: #b6b6b6;
                font-weight: 700;
                padding: 10px 0px;
                margin: 0px 30px;
            }
            .active{
                color: #000;
                border-bottom: 3px solid #000;
            }
        }
        p{
            font-size: .9em;
            color: #b6b6b6;
            line-height: 1.75em;
        }
    }
}

#footer {
    section:nth-child(1) {
        background: #f6f6f6;
        .info {
            color: #a0a0a0;
        }
        h5 {
            font-size: 1em;
            color: #575757;
            margin-bottom: 30px;
        }
        li {
            font-size: 0.8em;
            color: #868686;
            margin-bottom: 15px;
        }
        .form-control {
            border-radius: 20px 0px 0px 20px;
            font-size: 0.8em;
        }
        .btn-outline-secondary {
            color: #fff;
            background-color: #696969;
            background-image: none;
            border-color: #696969;
            border-radius: 0 20px 20px 0;
        }
        .btn {
            font-size: .8em;
        }
        .whiteBTN {
            background: #ffffff;
            border: 1px solid #ced4da;
            border-left: 0px solid #000;
            color: #696969;
        }
        .follow {
            font-size: 1.15em;
            font-weight: 600;
        }
        .social-media {
            a {
                font-size: 1.05em;
                color: #575757;
            }
        }
        input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            line-height: 38px;
            font-weight: 600;
        }
        input::-moz-placeholder {
            /* Firefox 19+ */
            line-height: 38px;
            font-weight: 600;
        }
        input:-ms-input-placeholder {
            /* IE 10+ */
            line-height: 38px;
            font-weight: 600;
        }
        input:-moz-placeholder {
            /* Firefox 18- */
            line-height: 38px;
            font-weight: 600;
        }
        .col-lg-3{
            @media (max-width: 991.98px) { 
                margin-top: 30px;  
            }
        }
    }
    @media(max-width: 767.98px){
        span{
            white-space:nowrap;
        }
    }
}