.menu1 {
  display: none;
  z-index: 100;
  position: absolute;
  top: 75px;
  right: 0px;
  width: 960px;
  background: #fff;
  padding: 30px 50px; }
  .menu1 h5 {
    border-bottom: 2px solid #000;
    font-size: 1em;
    padding-bottom: 5px;
    width: 60px;
    white-space: nowrap; }
  .menu1 a {
    font-size: 0.75em;
    color: #757575; }
  @media (max-width: 1199.98px) {
    .menu1 {
      width: 100%;
      overflow: scroll; }
      .menu1 .col-lg-3 {
        margin-top: 1rem; } }

.menu2 {
  width: 750px;
  background: #eee;
  margin-top: 30px; }

.shoppingCart {
  opacity: 1 !important;
  display: none;
  position: absolute;
  top: 72.8px;
  right: 0;
  z-index: 100;
  width: 350px;
  padding: 20px;
  background: #fff;
  color: #878787;
  font-weight: 600; }
  .shoppingCart p {
    margin: 0;
    font-size: 0.85em; }
  .shoppingCart .price {
    color: #000; }
  .shoppingCart .delete {
    color: red;
    font-weight: 800; }
  .shoppingCart .delete:hover {
    cursor: pointer; }
  .shoppingCart .btn {
    padding: 5px 30px;
    border-radius: 20px; }
  .shoppingCart .btn:hover {
    color: #fff !important; }
  .shoppingCart .btn-dark {
    color: #fff !important; }
  @media (max-width: 350px) {
    .shoppingCart {
      width: 100%;
      overflow: auto; } }

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.5;
  display: none; }

.menu1 {
  display: none;
  z-index: 100;
  position: absolute;
  top: 75px;
  right: 0px;
  width: 960px;
  background: #fff;
  padding: 30px 50px; }
  .menu1 h5 {
    border-bottom: 2px solid #000;
    font-size: 1em;
    padding-bottom: 5px;
    width: 60px;
    white-space: nowrap; }
  .menu1 a {
    font-size: 0.75em;
    color: #757575; }
  @media (max-width: 1199.98px) {
    .menu1 {
      width: 100%;
      overflow: scroll; }
      .menu1 .col-lg-3 {
        margin-top: 1rem; } }

.menu2 {
  width: 750px;
  background: #eee;
  margin-top: 30px; }

.searchPage {
  display: none;
  background: #f6f6f6;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20px;
  position: fixed;
  z-index: 200; }
  .searchPage input {
    width: 500px;
    background: none;
    border: none;
    border-left: 1px solid #000;
    font-size: 1.5em;
    padding: 10px 0px 10px 10px; }
  .searchPage input:focus {
    outline: none; }
  .searchPage a {
    color: #9d9d9d;
    font-size: 1.5em; }
  .searchPage .cancel {
    margin-top: 240px; }
  @media (max-width: 600px) {
    .searchPage {
      text-align: center;
      margin: 0 auto; } }
  @media (max-width: 400px) {
    .searchPage input {
      width: 200px;
      font-size: 1.25em; } }

#header .navbar-light .navbar-nav .nav-link {
  color: #313131;
  margin-right: 6px; }

#header .navbar-light .navbar-nav .nav-link:hover {
  color: #aaa; }

#header .navbar {
  padding: .5rem 0; }

#header nav a {
  color: #333; }

#header nav .nav-item {
  line-height: 40px;
  margin-right: 15px; }

#header nav .fa-shopping-bag {
  line-height: 40px;
  margin-right: 10px; }

#header nav .shoppingcart span {
  line-height: 16px;
  margin-left: 7px; }

#content .menu {
  color: #6c757d;
  font-size: 1.5em;
  display: none; }
  @media (max-width: 767.98px) {
    #content .menu {
      display: block; } }

#content .banner {
  background: #f4f4f4; }
  #content .banner h2 {
    color: #494949;
    font-size: 2.5em;
    font-weight: 700; }
  #content .banner .breadcrumb {
    background: #f4f4f4;
    padding: 0; }
    #content .banner .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: ">"; }
    #content .banner .breadcrumb a {
      color: #6c757d; }
  #content .banner .search a {
    color: #c2c2c2;
    font-size: 0.75em; }

#content .col-md-8 {
  color: #494949; }
  #content .col-md-8 .date {
    background: #919191;
    width: 62.4px;
    height: 62.4px; }
    #content .col-md-8 .date p {
      line-height: 1.5em;
      color: #fff; }
      #content .col-md-8 .date p span {
        font-weight: 600;
        font-size: 1.5em; }
  #content .col-md-8 h3 {
    font-weight: 700;
    color: #494949; }
  #content .col-md-8 p {
    font-size: 0.9em;
    line-height: 2em; }
    #content .col-md-8 p small {
      color: #919191;
      font-style: italic; }
      #content .col-md-8 p small i {
        padding-right: .5em;
        font-style: normal; }
  #content .col-md-8 a {
    color: #494949;
    font-weight: 600;
    font-size: 0.9em; }
  #content .col-md-8 .page a {
    padding: 3px 10px;
    border: 1.5px solid #494949; }
  #content .col-md-8 .page a:hover {
    background: #494949;
    color: #fff;
    text-decoration: none; }

#content .col-md-4 {
  color: #494949; }
  #content .col-md-4 h4 {
    white-space: nowrap;
    margin-left: 10px;
    font-size: 1.25em; }
  #content .col-md-4 hr {
    margin: 0;
    margin-bottom: 1em;
    border-top: 3px solid #494949;
    width: 4em; }
  #content .col-md-4 hr.post {
    width: 5em; }
  #content .col-md-4 hr.tag {
    width: 1.5em; }
  #content .col-md-4 li a {
    color: #494949; }
  #content .col-md-4 li img {
    margin-left: 1em;
    height: 64px; }
  #content .col-md-4 li p {
    font-size: 0.85em;
    margin-bottom: 0; }
    #content .col-md-4 li p span {
      font-style: italic;
      font-weight: 600; }
  #content .col-md-4 .tags a {
    line-height: 2em;
    color: #494949; }
  @media (max-width: 767.98px) {
    #content .col-md-4 {
      display: none;
      background: #fff;
      height: 300px;
      overflow: scroll;
      position: absolute;
      top: 0;
      background: #efefef; } }

#content .fullWidth {
  background: #eee;
  font-size: 0.85em;
  font-weight: 500;
  color: #494949; }
  #content .fullWidth a {
    color: #494949; }
  #content .fullWidth .breadcrumb {
    background: #eee;
    margin: 0;
    padding: 0; }

#content .header {
  height: 570px;
  background-image: url("https://fakeimg.pl/1110x570/");
  background-size: auto;
  background-position: center; }
  #content .header .date {
    background: #fff;
    width: 62.4px;
    height: 62.4px; }
    #content .header .date p {
      line-height: 1.5em;
      color: #4c4c4c; }
      #content .header .date p span {
        font-weight: 600;
        font-size: 1.5em; }
  #content .header p {
    color: #8f8f8f; }

#content .content {
  color: #494949;
  background: #fff;
  width: 90%;
  position: relative;
  top: -110px; }
  #content .content p {
    font-size: 0.9em;
    line-height: 2em; }
    #content .content p small {
      font-style: italic;
      font-weight: 600; }
      #content .content p small i {
        padding-right: .5em;
        font-style: normal; }
  @media (max-width: 576px) {
    #content .content h3 {
      font-size: 1.25em;
      text-align: center; }
    #content .content small {
      font-size: 0.75em; }
    #content .content .d-flex {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

#content .author {
  background: #f4f4f4; }
  #content .author p {
    line-height: 1.5em;
    color: #adadad; }
  #content .author b {
    font-size: 1.25em;
    color: #525252; }
  #content .author .social-media a {
    font-size: .9em;
    color: #575757; }
  @media (max-width: 767.98px) {
    #content .author {
      text-align: center; }
      #content .author img {
        margin-bottom: 10px; }
      #content .author p {
        font-size: 0.75em; }
      #content .author ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }

#content .comments > hr {
  margin: 0;
  margin-bottom: 1em;
  border-top: 3px solid #494949;
  width: 4em; }

#content .comments p {
  margin: 0;
  line-height: 1em; }
  #content .comments p small {
    font-size: 0.75em; }

#content .comments .article {
  line-height: 1.5em; }

#content .comments .reply {
  padding-left: 10%; }

#content .leaveComment .form-control {
  background: #f7f7f7;
  border: 1px solid #f7f7f7; }

#content .leaveComment textarea {
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
  width: 100%;
  height: 100px; }

#content .leaveComment .btn {
  background: #f7f7f7;
  border: 1px solid #f7f7f7; }

#content .leaveComment .btn:hover {
  background: #494949;
  color: #fff; }

#footer section:nth-child(1) {
  background: #f6f6f6; }
  #footer section:nth-child(1) .row {
    margin-left: 3em;
    margin-right: 3em; }
    @media (max-width: 767.98px) {
      #footer section:nth-child(1) .row {
        margin-left: 1em;
        margin-right: 1em; } }
  #footer section:nth-child(1) h5 {
    font-size: 1em; }
  #footer section:nth-child(1) li {
    font-size: 0.8em;
    color: #868686;
    margin-bottom: 10px; }
  #footer section:nth-child(1) p {
    margin-bottom: 0em; }
    #footer section:nth-child(1) p span {
      padding-right: 1.7em; }
  #footer section:nth-child(1) i {
    margin-left: .5em; }

#footer .payment {
  font-size: 1.25em; }
